
.button{
	text-align: center;
	position:relative;
	margin: 0 auto;
	margin-top: 5%;
	width: auto;
	height:auto;
	min-height: 35px;
	min-width: 100px;
	max-height: 60px;
	max-width: 200px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 1px 1px grey;
	box-shadow: 0px 0px 1px 1px grey;
	background-color: #00ADA9;
	font-size: 22px;
	color: white;
	font-size-adjust: inherit;
	 -webkit-text-size-adjust: auto;
}

.button:hover{
	text-align: center;
	position:relative;
	margin: 0 auto;
	margin-top: 5%;
	width: auto;
	height:auto;
	min-height: 35px;
	min-width: 100px;
	max-height: 60px;
	max-width: 200px;
	display: inline-block;  
	-webkit-box-shadow: 0px 0px 1px 1px grey;
	box-shadow: 0px 0px 1px 1px grey;
	background-color: #102B42;
	font-size: 22px;
	color: white;
	font-size-adjust: inherit;
	 -webkit-text-size-adjust: auto;
}
.button:active{
	text-align: center;
	position:relative;
	margin: 0 auto;
	margin-top: 5%;
	width: auto;
	height:auto;
	min-height: 35px;
	min-width: 100px;
	max-height: 60px;
	max-width: 200px;
	display: inline-block;
	-webkit-box-shadow:inset 0px 0px 1px 1px grey;
	box-shadow: inset 0px 0px 1px 1px grey;
	background-color: #000729;
	font-size: 20px;
	color: white;
	font-size-adjust: inherit;
	-webkit-text-size-adjust: auto;
}


.input_field{
	font-size-adjust: inherit;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 5%;
	position: relative;
	width: 50%;
	height:10%;
	border: 1px solid grey;
	background-color: #fff; 
	 -webkit-box-shadow: 0px 0px 1px 1px #5F7A87;
	box-shadow: 0px 0px 1px 1px #5F7A87;
	 -webkit-text-size-adjust: auto;

}